{% extends 'local/base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
 <p>Manchester is a city and metropolitan borough in Greater Manchester, England, with a population of 530,300 as of 2015. It lies within the United Kingdom's second-most populous urban area, with a population of 2.55 million. Manchester is fringed by the Cheshire Plain to the south, the Pennines to the north and east and an arc of towns with which it forms a continuous conurbation. The local authority is Manchester City Council.</p>

<p>The recorded history of Manchester began with the civilian settlement associated with the Roman fort of Mamucium or Mancunium, which was established in about AD 79 on a sandstone bluff near the confluence of the rivers Medlock and Irwell. It was historically a part of Lancashire, although areas of Cheshire south of the River Mersey were incorporated in the 20th century. Throughout the Middle Ages Manchester remained a manorial township but began to expand "at an astonishing rate" around the turn of the 19th century. Manchester's unplanned urbanisation was brought on by a boom in textile manufacture during the Industrial Revolution, and resulted in it becoming the world's first industrialised city.</p>

<p>Manchester achieved city status in 1853. The Manchester Ship Canal opened in 1894, creating the Port of Manchester and linking the city to the sea, 36 miles (58 km) to the west. Its fortunes declined after the Second World War, owing to deindustrialisation, but the IRA bombing in 1996 led to extensive investment and regeneration.</p>

<p>In 2014, the Globalization and World Cities Research Network ranked Manchester as a beta world city, the highest-ranked British city apart from London. Manchester is the third-most visited city in the UK, after London and Edinburgh. It is notable for its architecture, culture, musical exports, media links, scientific and engineering output, social impact, sports clubs and transport connections. Manchester Liverpool Road railway station was the world's first inter-city passenger railway station and in the city scientists first split the atom and developed the stored-program computer.</p>

</div>
</div>
</div>
{% endblock %}